* {
  box-sizing: border-box;
  margin: 0rem auto;
  padding: 0rem;
  font-family: "Hanken Grotesk", sans-serif;
}

.main__container {
  display: flex;
  max-width: 43rem;
  text-align: center;
  margin: 7rem auto;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem hsla(241, 100%, 95%, 0.3);
  border-radius: 30px;
  height: 65vh;
}

/* ==========[Container For Your Result and Summary]========== */

.top__container {
  background: linear-gradient(hsl(252, 100%, 67%), hsla(241, 81%, 54%, 1));
  color: white;
  border-radius: 30px;
  padding: 20px 0px 25px 0px;
  width: 55%;
}

.bottom__container {
  padding-top: 1rem;
  font-weight: bold;
  width: 55%;
}

/* ==========[Coloring and Styling for Top Container]========== */

.your__result {
  max-width: 35%;
  margin: 20px auto;
  font-size: 1.4rem;
  color: hsla(100, 100%, 100%, 0.6);
}

.result__percentage__div {
  background: linear-gradient(
    hsla(256, 72%, 45%, 4),
    hsla(241, 90%, 45%, 0.04)
  );
  padding: 2rem 0rem 2rem 0rem;
  border-radius: 100rem;
  max-width: 50%;
  margin-top: 2rem;
}

.result__percentage__div > .result__percentage__first {
  font-size: 4rem;
  max-width: 5rem;
  font-weight: 600;
}

.result__percentage__div > .result__percentage__second {
  max-width: 35%;
  color: hsla(100, 100%, 100%, 0.5);
}

.great__div {
  max-width: 100%;
  /* margin: 30px auto; */
  text-align: center;
  margin-top: 1.5rem;
}

.great__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.great__div > .description {
  margin-top: 1rem;
  max-width: 15rem;
  color: hsla(100, 100%, 100%, 0.6);
  font-size: 1.1rem;
}

/* ==========[Coloring and Styling for Bottom Container]========== */

.bottom__container > h1 {
  max-width: 7rem;
  display: flex;
  text-align: left;
  margin-left: 2rem;
  font-size: 1.4rem;
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: hsl(224, 30%, 27%);
}

.reaction__div,
.memory__div,
.verbal__div,
.visual__div {
  display: flex;
  max-width: 17rem;
  margin: 15px auto;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 1rem;
  margin-left: 2rem;
  padding-right: 0px;
}

.reaction__div > img,
.memory__div > img,
.verbal__div > img,
.visual__div > img {
  margin-left: 1rem;
  font-weight: bold;
  margin-right: 0px;
}

.reaction__div {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.1);
}

.memory__div {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.1);
}

.verbal__div {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.1);
}

.visual__div {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
}

.title__reaction,
.title__memory,
.title__verbal,
.title__visual {
  margin-left: 0.8rem;
  font-weight: 600;
}

.reaction__div > div,
.memory__div > div,
.verbal__div > div,
.visual__div > div {
  margin-right: 1rem;
  display: flex;
}

.percentage__reaction,
.percentage__memory,
.percentage__verbal,
.percentage__visual {
  margin-right: 0.5rem;
  color: hsl(224, 30%, 27%);
  font-weight: 600rem;
}

.percentage__reaction__second,
.percentage__memory__second,
.percentage__verbal__second,
.percentage__visual__second {
  color: hsla(224, 30%, 27%, 0.6);
}

.continue__button {
  background-color: hsl(224, 30%, 27%);
  padding: 1rem 0rem 1rem 0rem;
  width: 78%;
  margin-top: 1.2rem;
  border-radius: 2rem;
  color: white;
  font-size: 1rem;
  border: none;
  transition: background 0.15s;
}

.continue__button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsla(241, 81%, 54%, 1));
  cursor: pointer;
}

/* ==============[Responsive Code]============== */

@media screen and (max-width: 500px) {
  .main__container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0rem;
    border-radius: 0rem;
    box-shadow: none;
    margin: 0rem auto;
  }

  .top__container {
    padding: 1rem 0rem 1.3rem 0rem;
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .your__result {
    font-size: 1.2rem;
  }

  .result__percentage__div {
    padding: 1.5rem 0rem 1.5rem 0rem;
    border-radius: 100rem;
    max-width: 9rem;
    margin-top: 1.5rem;
  }

  .result__percentage__div > .result__percentage__first {
    font-size: 3.5rem;
  }

  .great__title {
    font-size: 1.5rem;
  }

  .great__div > .description {
    max-width: 18rem;
    margin-top: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .bottom__container {
    width: 100%;
  }

  .bottom__container > h1 {
    margin-top: 0rem;
    font-size: 1.1rem;
  }

  .reaction__div,
  .memory__div,
  .verbal__div,
  .visual__div {
    max-width: 20rem;
    padding: 1rem 0rem 1rem 0rem;
  }

  .continue__button {
    padding: 1rem 0rem 1rem 0rem;
    width: 86%;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }
}
